{% extends 'main/base.html' %}
<!-- <!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style type="text/css"></style>
        
        <title>251project</title>

    </head>

<body> -->
    {% block content %}
    <h1>{{show.title}}</h1>
    <img src="{{show.image}}">
    <h2>TVSHOWinfo</h2>
   <ul class="TVShowinfo">
    <li>
        <div>plot:</div>
        <div>{{show.plot}}</div>
    </li>
    
    <li>
        <div>genre:</div>
        <div>{{show.genre}}</div>
    </li>
    <li>
        <div>rottentomatoes rating:</div>
        <div>{{show.rating}}</div>
    </li>
    <li>
        <div>metacritic rating:</div>
        <div>{{show.m_rating}}</div>
    </li>
   </ul>
   <h2>CAST AND CREW</h2>
   <table>
    {% for key,value in show.cast.items %}
        <tr>
            <td>{{key}}--</td><td>{{value}}</td>
        </tr>
    {% endfor %}
    </table>
    <h2>Where To Watch</h2>
    <!-- {% if show.platform is null %}
    <h3>NO results</h3>
    {% endif %} -->
    {% if show.platform %}
    <table>
        {% for key,value in show.platform.items %}
            <tr>
                <td>
                    <a href="{{key}}">{{value}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3> No results </h3>
    {% endif %}



    <h2>Metacritic reviews</h2>
    {% if show.meta_reviews %}
        {% for key,value in show.meta_reviews.items %}
        
        <div class="card">
            <div class="card-header">
              Rating - {{key}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{value}}</p>
                
              </blockquote>
            </div>
          </div>
        {% endfor %}
    {% else %}
    <h3> No results </h3>
    {% endif %}
    
    
    <h3>Similar Shows</h3>
    <div class="row">
       
        {% for x in show.similar_shows.all %}
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{x.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{x.title}} </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Rottentomatoes rating - {{x.rating}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Metacritic rating - {{x.m_rating}}</h6>
                  <p class="card-text">
                    {% for key, value in x.cast.items %}
                      {{key}}
                    {% endfor %}
                  </p>
                  <a href="/show/{{x.id}}" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<a href="{% url "main:user_tvwishlist" show.id  %}" class="btn btn-light fw500" role="button" aria-disabled="true">Add to Wish List</a>
</br>
<a href="{% url "main:user_tvfavlist" show.id  %}" class="btn btn-light fw500" role="button" aria-disabled="true">Add to favourites List</a>
</br>
<a href="{% url "main:user_tvwatchedlist" show.id  %}" class="btn btn-light fw500" role="button" aria-disabled="true">Add to watched List</a>

  

{% endblock %}